<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Capybara fan site</title>
    {% load static %}
    <link
      rel="stylesheet"
      integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT"
      href="{% static 'bootstrap.min.css' %}"
    />
  </head>

  <body>
    <div class="container">
      {% include 'navbar.html' %}{% block content %} {% endblock %}
    </div>
    {% load static %}
    <script
      integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
      src="{% static 'bootstrap.bundle.min.js' %}"
    ></script>
  </body>
</html>
