{% extends "base.html" %} {% block content %}

<h1>Welcome</h1>
<p>{{ available }} out of 128 plushies available!!</p>
{% if available == 0 %}
<div class="alert alert-success mt-4" role="alert">
  All the plushies have been redeemed 🥀🥀
</div>
{% endif %} {% load static %}
<img width="420" height="560" src="{% static 'family_pic.jpg' %}" />
<p>Redeem your free capybaras below! (no cap)</p>
<ol>
  {% for i in range %}
  <li><a href={{ i }}> Free Capybara Click Here </a></li>
  {% endfor %}
</ol>

{% endblock %}
