<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Free Capybara Plushies!!!1!</title>
</head>

<body>
    <h1>Welcome</h1>
    <p>128 plushies available!!</p>
    <p>Redeem your free capybaras below!</p>
    <ol>
        {% for i in range %}
            <li><a target="_blank" href={{ i }}>
                Free Capybara (no cap) Click Here
            </a></li>
        {% endfor %}
    </ol>
</body>

</html>