<nav class="navbar navbar-expand bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">₍ᐢ-(ｪ)-ᐢ₎</a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Home</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="/reset">
          <button type="button" class="btn btn-danger">Reset</button>
        </a>
      </li>
    </ul>
  </div>
</nav>